<h1>Current Weather Data{{city}}</h1>

<div class="inputBox">
<form action="/" method="POST">
<label for="location">Location:</label>
<input type="text" name="location">
<br>
<label for="countryCode">Country:</label>
<input type="text" name="countryCode">
<div class="button">
<input type="submit" value="Add City">
</div>
</form>
</div>

<div class="resultFive">
{{#if err}}
    <h3>{{err}}</h3>
{{else}}
<ul>
    {{#each data}}
    <li>{{@key}} : {{this}}</li>
    {{/each}}
</ul>
{{/if}}
</div>

{{!-- <ul>
    <li>
        Temp: {{temp}}
    </li>
    <li>
        Wind Speed: {{wind}}
    </li>
    <li>
        Cloud Number: {{cloud}}
    </li>
</ul> --}}
